.heading-name-own{
    background-image: url('../../component/images/aboutusbg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.own-card-img-top{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.own-card-text{
    font-weight: 900;
    font-size: 15px;
}
.own-card{
    max-width: 520px;
}
.feat-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.own-featurette{
    border-radius: 10px;
    width: 80%;
    justify-content: center;
}
.own-service{
    justify-content: center;
    
}
.device-card{
    width: 250px;
    height: 340px;
    overflow: hidden;
}
.device-card-img-top{
   width: 100%;
   object-fit: cover;
}
.img-card{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.ser-card{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}
.ser-img{
    width: 249px;
    height: 299px;
    margin: 0px;
}
.ser-img-img{
    width: 250px;
    height: 299px;
    object-fit: cover;
    border-radius: 20px;
}
.ser-desc{
    width: 250px;
    height: 300px;
    padding: 20px;
}